google-api-core==2.10.1

google-api-python-client==2.71.0
google-api-python-client==2.71.2

google-auth==2.6.0

google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
matplotlib==3.8.0
seaborn==0.12.2
streamlit==1.16.0
